header {
    background: #BBBBBB;
    padding: 20px;
}

.caixa{
    width: 940px; /* boa margem "padrao" */
    position: relative;
    margin: 0 auto;

}

nav {
    position: absolute;
    top:110px;
    right:0;
}

nav li{
    display: inline;
    margin:0 0 0 15px;         /* espaçamento na esquerda do texto*/
}

nav a{
    text-transform:uppercase;   /* deixa o texto maiusculo */
    color:#000000;            /* deixa o texto na cor preta */
    font-weight:bold;           /* deixa o texto negrito */
    font-size: 22px;            /* altera o tamanho da font */
    text-decoration: none;      /* tira a decoração ex: sublinhado */
}

 nav a:hover{
     color:red;
     text-decoration: underline;
 }



footer {
    text-align:center;
    background: url(imagens/bg.jpg);
    padding: 40px 0;
}

.copyright{
    color:#FFFFFF;
    font-size: 18px;
    margin: 20px 0 0;
}

main{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;

}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}