body{ font-family: 'Montserrat', sans-serif;}

header {
    background: #BBBBBB;
    padding: 20px;
}

.caixa{
    width: 940px; /* boa margem "padrao" */
    position: relative;
    margin: 0 auto;

}

nav {
    position: absolute;
    top:110px;
    right:0;
}

nav li{
    display: inline;
    margin:0 0 0 15px;         /* espaçamento na esquerda do texto*/
}

nav a{
    text-transform:uppercase;   /* deixa o texto maiusculo */
    color:#000000;            /* deixa o texto na cor preta */
    font-weight:bold;           /* deixa o texto negrito */
    font-size: 22px;            /* altera o tamanho da font */
    text-decoration: none;      /* tira a decoração ex: sublinhado */
}

 nav a:hover{
     color:#C78C19;
     text-decoration: underline;
 }

.produtos{
    width: 940px; 
    margin: 0 auto;
    padding: 50px 0;

}
.produtos li {
    display: inline-block;
    text-align:center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:#000000;  
    border-width: 2px;         
    border-style: solid;   
    border-radius: 10px; 
}

.produtos li:hover{
    border-color: #C78C19;   
}

.produtos li:active{
    border-color:#4309ad; 
}

.produtos li:hover h2 {   /* aumenta a font do h2 que está dentro do li ao passar o mouse */
    font-size: 35px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.prod-desc{
    font-size:15px;
    font-style: italic;
}
.prod-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align:center;
    background: url(imagens/bg.jpg);
    padding: 40px 0;
}

.copyright{
    color:#FFFFFF;
    font-size: 18px;
    margin: 20px 0 0;
}

/*responsividade*/

@media screen and (max-width:480px) {

    .caixa, .produtos {
        width:auto;
    }


    .produtos li{
        display: block;
        width: auto;
        margin-bottom: 1em;
    }

    .prod-desc, .prod-preco, .produtos h2{
        width: 100%;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;

    }

    
}