header {
    background: #BBBBBB;
    padding: 20px;
}

.caixa{
    width: 940px; /* boa margem "padrao" */
    position: relative;
    margin: 0 auto;

}

nav {
    position: absolute;
    top:110px;
    right:0;
}

nav li{
    display: inline;
    margin:0 0 0 15px;         /* espaçamento na esquerda do texto*/
}

nav a{
    text-transform:uppercase;   /* deixa o texto maiusculo */
    color:#000000;            /* deixa o texto na cor preta */
    font-weight:bold;           /* deixa o texto negrito */
    font-size: 22px;            /* altera o tamanho da font */
    text-decoration: none;      /* tira a decoração ex: sublinhado */
}

 nav a:hover{
     color:red;
     text-decoration: underline;
 }

.produtos{
    width: 940px; 
    margin: 0 auto;
    padding: 50px 0;

}
.produtos li {
    display: inline-block;
    text-align:center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color:#000000;  /* tag de borda */
    border-width: 2px;         /* grossura da borda */ 
    border-style: solid;    /* estilo da borda */
   /* border: 2px solid #000000;    estilizar borda em apenas uma linha */
   border-radius: 10px; /* borda com canto arredondado */
}

.produtos li:hover{
    border-color: red;   /*Aplica uma borda vermelha dentro dos produtos do li ao passar o mouse*/
}

.produtos li:active{
    border-color:aquamarine; /* aplica uma borda quando pressiona o mouse em algum produto do li */
}

.produtos li:hover h2 {   /* aumenta a font do h2 que está dentro do li ao passar o mouse */
    font-size: 35px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.prod-desc{
    font-size:18px;
    font-style: italic;
}
.prod-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align:center;
    background: url(imagens/bg.jpg);
    padding: 40px 0;
}

.copyright{
    color:#FFFFFF;
    font-size: 18px;
    margin: 20px 0 0;
}